---
extends: 'default'

yaml-files:
    - '*.yaml'
    - '*.yml'
    - '.yamllint'

ignore: |
   venv/

rules:
    quoted-strings:
        required: true
    line-length:
        max: 220
    indentation:
        spaces: 4
